.contactFirstWrapper {
    display: flex;
    flex-direction: column;
}

.contactMainWrapper {
    background-color: "#c9f0ff";
    padding-bottom: 150px;
    height: 600px;
    text-align: center;
}

.contactMainTitle {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 69px;
    color: #92dce5;
    padding-bottom: 20px;
}

.contactMainTypesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: initial;
}

.contactMainTypeBes > a, .link {
    color: white;
}

.contactMainTypeBes > a:hover, .link:hover {
    color: #92dce5;
}

.contactMainTypes {
    padding: 10px;
    text-align: center;
    color: white;
    height: 200px;
}

.contactMainPic {
    height: 40%;
}

.contactMainTypesTitle {
    transform: translateY(-25px);
}

@media screen and (max-width: 600px) {
    .contactMainWrapper {
        height: 1500px;
    }
    .contactMainTypesWrapper {
        flex-direction: column;
    }
    .contactMainTypes {
        padding-bottom: 100px;
    }
    .contactMainTitle {
        font-size: 50px;
    }
    .contactMainTypesTitle {
        transform: translateY(-10px);
    }
}