.fourthPar {
    width: 100%;
    height: 700px;
    padding-bottom: 150px;
    padding-top: 150px;
    background-color: rgb(32, 38, 46);
}

.fourthWrapper > div {
    width: 50%;
}

.fourthWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    color: white;
    text-align: center;
}

.fourthRigthText {
    padding: 10%;
}

@media screen and (max-width: 600px) {
    .fourthWrapper {
        flex-direction: column-reverse;
    }
    .fourthWrapper > div {
        width: 80%;;
    }
    .fourthRigthText {
        padding: 0;
    }
    .fourthPar {
        height: 1200px;
    }
}