.flagParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flagChild {
    transition: 0.5s;
    width: 3rem;
    border-radius: 10px;
    padding: 5px;
}

.flagChild:hover {
    transform: translateY(-10%);
    cursor: pointer;
}