.startTitel {
    font-size: 50px;
}

.secondPar {
    background-color: rgb(230, 232, 236);
    height: 600px;
    text-align: center;
}

.secondWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.secondText {
    width: 40%;
}
