.title {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 69px;
    color: #92dce5;
}