
.nav {
    width: 100%;
    justify-content: center;
    transition: 0.5s;
    display: flex;
    background-color: #828a95;
    position: fixed;
    z-index: 3;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5;
    border-bottom: 1px solid rgba(201, 240, 255, 0.4);
}

.nav-text {
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  */
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.nav-text, h1 {
    font-size: 1.5rem;
    transition: 0.5s;
    color: #c9f0ff;
}

.nav-text h1:hover {
    color: #92dce5;
    cursor: pointer;
    text-shadow: 0 0 2px #c9f0ff, 0 0 3px #c9f0ff
}

.scrolled {
    background-color: #282c34;
    border-bottom: 1px solid #282c34;
}

a {
    color: white;
    text-decoration: none;
}