.navParent {
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 3;
    position: fixed;
    overflow: hidden;
    height: 6%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.scroll {
    background-color: white;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 8%;
}

.navDivChild {
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navPChild {
    font-size: 26px;
    transition: 0.5s;
    cursor: pointer;
}

.navPChild:hover {
    transform: translateY(-20%);
}

a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}