.footerParent {
    width: "100%";
    background-color: rgb(22, 30, 39);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerChild > div > p, .footerChild > p {
    color: white;
}

.footerChild {
    padding: 20px;
}

.footerLink {
    color: white;
}

.footerLink:hover{
    color: #92dce5;
}